<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="card" style="max-width:360px; margin:60px auto;">
    <h1>Signup</h1>

    <form th:action="@{/signup}" th:object="${user}" method="post">
        <input type="text" th:field="*{fullName}" placeholder="Full Name" required>
        <input type="email" th:field="*{email}" placeholder="Email" required>
        <input type="password" th:field="*{password}" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>

    <p class="link">Already have an account?
        <a th:href="@{/login}">Login</a>
    </p>
</div>
</body>
</html>
